[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "benchmark-init"]
	path = lib/benchmark-init
	url = git@github.com:dholm/benchmark-init-el.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "calibredb"]
	path = lib/calibredb
	url = git@github.com:chenyanming/calibredb.el.git
[submodule "citar"]
	path = lib/citar
	url = git@github.com:emacs-citar/citar.git
[submodule "citar-org-roam"]
	path = lib/citar-org-roam
	url = git@github.com:emacs-citar/citar-org-roam.git
[submodule "citeproc"]
	path = lib/citeproc
	url = git@github.com:andras-simonyi/citeproc-el.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "consult"]
	path = lib/consult
	url = git@github.com:minad/consult.git
    no-byte-compile	= consult-icomplete.el
	no-byte-compile	= consult-selectrum.el
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
    no-byte-compile = emacsql-pg.el
[submodule "embark"]
	path = lib/embark
	url = git@github.com:oantolin/embark.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "esxml"]
	path = lib/esxml
	url = git@github.com:tali713/esxml.git
    no-byte-compile = esxml.el
    no-byte-compile = esxml-form.el
    no-byte-compile = esxml-form-tests.el
    no-byte-compile = esxml-html.el
    no-byte-compile = esxml-query-tests.el
    no-byte-compile = esxml-tests.el
    no-byte-compile = esxpath.el
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "kv"]
	path = lib/kv
	url = git@github.com:nicferrier/emacs-kv.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
    no-byte-compile = lisp/magit-libgit.el
[submodule "magit-todos"]
	path = lib/magit-todos
	url = git@github.com:alphapapa/magit-todos.git
[submodule "marginalia"]
	path = lib/marginalia
	url = git@github.com:minad/marginalia.git
[submodule "orderless"]
	path = lib/orderless
	url = git@github.com:oantolin/orderless.git
[submodule "org-roam"]
	path = lib/org-roam
	url = git@github.com:org-roam/org-roam.git
[submodule "org-roam-ui"]
	path = lib/org-roam-ui
	url = git@github.com:org-roam/org-roam-ui.git
[submodule "parsebib"]
	path = lib/parsebib
	url = git@github.com:joostkremers/parsebib.git
[submodule "pcre2el"]
	path = lib/pcre2el
	url = git@github.com:joddie/pcre2el.git
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = git@github.com:skeeto/emacs-web-server.git
[submodule "string-inflection"]
	path = lib/string-inflection
	url = git@github.com:akicho8/string-inflection.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "vertico"]
	path = lib/vertico
	url = git@github.com:minad/vertico.git
    load-path = .
    load-path = extensions
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
