elpa/
eln-cache/
package-quickstart.el
package-quickstart.elc
recentf
.cache/
history
org-roam.db
bookmarks
.org-id-locations
places
site-lisp/
transient/
.lsp-session-v1
emms/
rime/
private/
url/
mydictionaryfr-en
multisession/
.mc-lists.el
request/