[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "citar"]
	path = lib/citar
	url = git@github.com:emacs-citar/citar.git
[submodule "citeproc"]
	path = lib/citeproc
	url = git@github.com:andras-simonyi/citeproc-el.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "consult"]
	path = lib/consult
	url = git@github.com:minad/consult.git
    no-byte-compile	= consult-icomplete.el
	no-byte-compile	= consult-selectrum.el
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
    no-byte-compile = emacsql-pg.el
[submodule "embark"]
	path = lib/embark
	url = git@github.com:oantolin/embark.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "parsebib"]
	path = lib/parsebib
	url = git@github.com:joostkremers/parsebib.git
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "string-inflection"]
	path = lib/string-inflection
	url = git@github.com:akicho8/string-inflection.git
[submodule "vertico"]
	path = lib/vertico
	url = git@github.com:minad/vertico.git
    load-path = .
    load-path = extensions
