[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "aio"]
	path = lib/aio
	url = git@github.com:skeeto/emacs-aio.git
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = git@github.com:domtronn/all-the-icons.el.git
    load-path = .
	load-path = data
[submodule "all-the-icons-dired"]
	path = lib/all-the-icons-dired
	url = git@github.com:wyuenho/all-the-icons-dired.git
[submodule "all-the-icons-ibuffer"]
	path = lib/all-the-icons-ibuffer
	url = git@github.com:seagle0128/all-the-icons-ibuffer.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auctex"]
	path = lib/auctex
	url = git@github.com:emacsmirror/auctex.git
	build-step = ./autogen.sh
	build-step = ./configure --with-texmf-dir=$HOME/texmf
	build-step = make
	build-step = sudo make install    
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "benchmark-init"]
	path = lib/benchmark-init
	url = git@github.com:dholm/benchmark-init-el.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "cal-china-x"]
	path = lib/cal-china-x
	url = git@github.com:xwl/cal-china-x.git
[submodule "calibredb"]
	path = lib/calibredb
	url = git@github.com:chenyanming/calibredb.el.git
[submodule "cape"]
	path = lib/cape
	url = git@github.com:minad/cape.git
[submodule "citar"]
	path = lib/citar
	url = git@github.com:emacs-citar/citar.git
[submodule "citar-org-roam"]
	path = lib/citar-org-roam
	url = git@github.com:emacs-citar/citar-org-roam.git
[submodule "citeproc"]
	path = lib/citeproc
	url = git@github.com:andras-simonyi/citeproc-el.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "consult"]
	path = lib/consult
	url = git@github.com:minad/consult.git
    no-byte-compile	= consult-icomplete.el
	no-byte-compile	= consult-selectrum.el
[submodule "corfu"]
	path = lib/corfu
	url = git@github.com:minad/corfu.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "deferred"]
	path = lib/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "elfeed"]
	path = lib/elfeed
	url = git@github.com:skeeto/elfeed.git
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = git@github.com:Wilfred/elisp-refs.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
    no-byte-compile = emacsql-pg.el
[submodule "embark"]
	path = lib/embark
	url = git@github.com:oantolin/embark.git
[submodule "emms"]
	path = lib/emms
	url = git@github.com:emacsmirror/emms.git
    build-step = make
    build-step = sudo make install
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "esxml"]
	path = lib/esxml
	url = git@github.com:tali713/esxml.git
    no-byte-compile = esxml.el
    no-byte-compile = esxml-form.el
    no-byte-compile = esxml-form-tests.el
    no-byte-compile = esxml-html.el
    no-byte-compile = esxml-query-tests.el
    no-byte-compile = esxml-tests.el
    no-byte-compile = esxpath.el
[submodule "expand-region"]
	path = lib/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "grab-x-link"]
	path = lib/grab-x-link
	url = git@github.com:xuchunyang/grab-x-link.git
[submodule "helpful"]
	path = lib/helpful
	url = git@github.com:Wilfred/helpful.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "js2-mode"]
	path = lib/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "kind-icon"]
	path = lib/kind-icon
	url = https://github.com/jdtsmith/kind-icon
[submodule "kv"]
	path = lib/kv
	url = git@github.com:nicferrier/emacs-kv.git
[submodule "ledger-mode"]
	path = lib/ledger-mode
	url = git@github.com:ledger/ledger-mode.git
[submodule "lyrics-fetcher"]
	path = lib/lyrics-fetcher
	url = git@github.com:SqrtMinusOne/lyrics-fetcher.el.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
    no-byte-compile = lisp/magit-libgit.el
[submodule "magit-todos"]
	path = lib/magit-todos
	url = git@github.com:alphapapa/magit-todos.git
[submodule "major-mode-hydra"]
	path = lib/major-mode-hydra
	url = git@github.com:jerrypnz/major-mode-hydra.el.git
    no-byte-compile = major-mode-hydra.el
[submodule "marginalia"]
	path = lib/marginalia
	url = git@github.com:minad/marginalia.git
[submodule "mpv"]
	path = lib/mpv
	url = git@github.com:kljohann/mpv.el.git
[submodule "mwim"]
	path = lib/mwim
	url = git@github.com:alezost/mwim.el.git
[submodule "nov"]
	path = lib/nov
	url = https://depp.brause.cc/nov.el.git
[submodule "orderless"]
	path = lib/orderless
	url = git@github.com:oantolin/orderless.git
[submodule "org-roam"]
	path = lib/org-roam
	url = git@github.com:org-roam/org-roam.git
[submodule "org-roam-ui"]
	path = lib/org-roam-ui
	url = git@github.com:org-roam/org-roam-ui.git
[submodule "parsebib"]
	path = lib/parsebib
	url = git@github.com:joostkremers/parsebib.git
[submodule "pcre2el"]
	path = lib/pcre2el
	url = git@github.com:joddie/pcre2el.git
[submodule "popper"]
	path = lib/popper
	url = git@github.com:karthink/popper.git
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "request"]
	path = lib/request
	url = git@github.com:tkf/emacs-request.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "shackle"]
	path = lib/shackle
	url = https://depp.brause.cc/shackle.git
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = git@github.com:skeeto/emacs-web-server.git
[submodule "skewer-mode"]
	path = lib/skewer-mode
	url = git@github.com:skeeto/skewer-mode.git
[submodule "string-inflection"]
	path = lib/string-inflection
	url = git@github.com:akicho8/string-inflection.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "vertico"]
	path = lib/vertico
	url = git@github.com:minad/vertico.git
    load-path = .
    load-path = extensions
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "xenops"]
	path = lib/xenops
	url = git@github.com:dandavison/xenops.git
