/elpa/
/eln-cache/
package-quickstart.el
package-quickstart.elc
recentf
/.cache/
history
org-roam.db
bookmarks
.org-id-locations
places
/transient/
.lsp-session-v1
/emms/
/rime/
/private/
url/
mydictionaryfr-en
/multisession/
.mc-lists.el
/request/
/xenops/
/auto-save-list/
nov-places
/epkgs/
/etc/
*.elc
network-security.data
projects
tramp
forge-database.sqlite
.emacs.keyfreq
.emacs.desktop
.emacs.desktop.lock